<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega del Producto</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <div class="send-container">
        <h1>Entrega del Producto</h1>
        <div class="delivery-options">
            <h2>Opciones de Entrega</h2>
            <div class="option">
                <input type="radio" id="pickup" name="delivery" value="pickup" checked>
                <label for="pickup">Punto de recogida <span class="price">9,49 €</span></label>
            </div>
            <div class="option">
                <input type="radio" id="home" name="delivery" value="home">
                <label for="home">Mi dirección <span class="price">11,49 €</span></label>
            </div>
            <div class="option">
                <input type="radio" id="in-person" name="delivery" value="in-person">
                <label for="in-person">En persona <span class="price">Gratiss</span></label>
                
            </div>
        </div>
        <button class="continue-button">Continuar</button>
    </div>
</body>