<section class="formulario-section">
    <h2>Baja</h2>
    <div class="formulario-container">
        <form action="/usuarios/baja" method="POST">
            <p><label for="correo"> Correo: </label>
            <input type="text" id="username" name="username" required></p>

            <p><label for="contraseña">Contraseña: </label>
            <input type="password" id="password" name="password" required></p>

            <p style="text-align: center;"><button type="submit" class="form-button">Enviar</button></p>
        </form>
    </div>
</section>
