<%
function mostrarError(error){
	if (error != null && error != ''){
        return `<p>${error}</p>`;
	}
}
%>
<section class="formulario-section">
    <h2>¡Bienvenido de nuevo!</h2>
    <p>Inicia sesión para gestionar tus anuncios, contactar con otros usuarios y seguir tus productos favoritos</p>
    <div class="formulario-container">
        <form action="/usuarios/login" method="POST">
            <fieldset>
                <% if (locals.error) { %>
                    <p><strong><%= locals.error %></strong></p>
                <% } %>
                <legend>Correo y contraseña</legend>
                <p><label>Correo:</label> <input type="text" name="username" value="<%= datos.username %>" /><%- helpers.error(errores, 'username') %></p>
                <p><label>Contraseña:</label> <input type="password" name="password" /><%- helpers.error(errores, 'password') %></p>
                <p style="text-align: center;"><button type="submit">Enviar</button></p>
            </fieldset>
        </form>
        <p>¿Primera vez en TruequeHub? <a class = 'boton' href=/usuarios/registro>Regístrate</a></p>
        <p>¿Problemas para iniciar sesión?</p>
        <p>Si tienes dificultades para acceder a tu cuenta, por favor, contáctanos para ayudarte.</p>
    </div>
</section>
