<section>
    <h2>Acceso al sistema</h2>
    <div class="login-container">
        <form action="/usuarios/login" method="POST">
            <p><label for="usuario">Nombre: </label>
            <input type="text" id="usuario" name="username" required></p>

            <p><label for="password">Contraseña: </label>
            <input type="password" id="password" name="password" required></p>

            <p><button type="submit">Enviar</button></p>
        </form>
    </div>
</section>
