

<div id="logout-container">
        <img src="/images/logoutfondo.jpg" alt="Fondo de logout">
        
        <div class="logout-overlay">
            
            <h1>Sesión cerrada exitosamente</h1>
            <a href="/">Regrese a la página de inicio</a>
        </div>
</div>