<section>
    <h2>Registro</h2>
    <div class="Registro-container">
        <form action="/usuarios/registro" method="POST">
            <p><label for="usuario">Nombre: </label>
            <input type="text" id="usuario" name="username" required></p>

            <p><label for="apellidos"> Apellidos: </label>
            <input type="text" id="apellidos" name="apellidos" required></p>

            <p><label for="correo"> Correo electrónico: </label>
            <input type="text" id="correo" name="correo" required></p>

            <p><label for="password">Contraseña: </label>
            <input type="password" id="password" name="password" required></p>

            <p><button type="submit">Enviar</button></p>
        </form>
    </div>v
</section>
