<section>
    <h2>Registro</h2>
    <div class="Registro-container">
        <form action="/usuarios/registro" method="POST">
            <p><label for="usuario">Nombre: </label>
            <input type="text" id="nombre" name="nombre" required></p>

            <p><label for="correo"> Correo electrónico: </label>
            <input type="text" id="username" name="username" required></p>

            <p><label for="contraseña">Contraseña: </label>
            <input type="password" id="password" name="password" required></p>

            <p><button type="submit">Enviar</button></p>
        </form>
    </div>
</section>
