<section>
    <h2>Registro</h2>
    <div class="Registro-container">
        <form action="/usuarios/registro" method="POST">
            <p><label for="usuario">Nombre: </label>
            <input type="text" id="usuario" name="username" required></p>

            <p><label for="correo"> Correo electrónico: </label>
            <input type="text" id="correo" name="correo" required></p>

            <p><label for="contraseña">Contraseña: </label>
            <input type="text" id="contraseña" name="contraseña" required></p>

            <p><button type="submit">Enviar</button></p>
        </form>
    </div>v
</section>
