<section>
    <h2>Añadir Tarjeta de Crédito</h2>
    <div class="card-form-container">
        <form action="/envios/formTarjeta/<%= producto.id %>" method="POST">
            <input type="hidden" name="productoId" value="<%= producto.id %>">
            <p>
                <label for="nombre_titular">Nombre del Titular: </label>
                <input type="text" id="nombre_titular" name="nombre_titular" placeholder="Nombre completo del titular" required>
            </p>
            <p>
                <label for="numero_tarjeta">Número de Tarjeta: </label>
                <input type="text" id="numero_tarjeta" name="numero_tarjeta" placeholder="Número de tarjeta" maxlength="16" required>
            </p>
            <p>
                <label for="fecha_expiracion">Fecha de Expiración: </label>
                <input type="text" id="fecha_expiracion" name="fecha_expiracion" placeholder="MM/AA" maxlength="5" required>
            </p>
            <p>
                <label for="codigo_seguridad">Código de Seguridad (CVV): </label>
                <input type="text" id="codigo_seguridad" name="codigo_seguridad" placeholder="CVV" maxlength="3" required>
            </p>
            <p>
                <button type="submit">Guardar Tarjeta</button>
            </p>
        </form>
    </div>
</section>