/*@@author meriwen*/
/*@@author dabarr02*/

/*Estilos barra de busqueda y cabecera*/

.contenido_cabecera {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5%; ;

	border-bottom: 1px solid #ccc; 
	
}

.contenido_cabecera h1 a{
	font-family: Pacifico, cursive;
	font-weight: 400;
	font-style: normal;
	color: #6bb88a;
	text-decoration: none;

}



.saludo {
	flex-shrink: 0;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
}

