
.button-link {
    background-color: #5cb397; 
    color: white; 
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    padding: 2%; 
    margin-left: 5px; 
    margin-top: 5px; 
    width: 25%;
    flex-shrink: 0; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    height: 10%;;
}

.user-info button:hover {
	background-color: #58aca7;
}

.product-details button {
    background-color: #5cb397; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    padding: 5px; 
    margin-left: 5px; 
    margin-top: 5px; 
    width: 39%; 
    flex-shrink: 0; 
    text-align: center; 
}

.product-details button:hover {
    background-color: #428d75; 
}

.nav-button{
    flex: 1; 
    text-align: center; 
    padding: 1%;
    border-radius: 5px;
    font-size: 20px;
	color:black; 
	background-color: #8fd8d6;
	text-decoration: none;
}

.nav-button:hover {
    background-color: #69adab; 
	text-decoration: none;

}
.dir-envio-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin: 0 auto 20px auto; 
    width: 30%; 
}

.tarjeta-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin: 0 auto 20px auto; 
    width: 30%; 
}


