
/*@@author meriwen*/
/*@@author dabarr02*/

/* ESTILOS DEL MENU DESPLEGABLE */



.menu{
	background-color: #85aab0;
	display: flex; /* Muestra el menú */
	flex-direction: column; /* Cambia la dirección a columna */
	padding: 10px; /* Elimina el padding */
	margin: 0; /* Elimina el margin */
}
.menu.oculto{
	display: none; /* Oculta el menú */
}
.menu li{
	list-style: none;
}
/*Contiene la navegación*/
.nav-container{
	/*background-color: black;*/
}

/*Controla los links del menú*/
.nav-button-top{
	text-align: center; /* Centra el texto */
	color: white; /* Cambia el color del texto */
	/*background-color: white;*/
	justify-content: center;
}

a.boton{
	background-color: #85aab0;
}

@media(min-width: 800px){
	nav.menu-icon{
		display: none; /* Oculta el icono */
	}
}