
/*@@author meriwen*/
/*@@author dabarr02*/

nav{
	background-color: #c98d32;
}
nav .menu.oculto{
	display: none; /* Oculta el menú */
}

nav .menu{
	display: flex; /* Muestra el menú */
	flex-direction: column; /* Cambia la dirección a columna */
	padding: 0; /* Elimina el padding */
	margin: 0; /* Elimina el margin */
}

/* Estilo para los enlaces del menú */
nav a{
	color: black;
	text-align: left;
	text-decoration: none;
	display: block;
}
.nav-button-top:hover{
	background-color: #57838a;
	color: black;
	font-weight: bold;
}


nav .menu a.active{
	background-color: #57838a;
	color: black;
	font-weight: bold;
}
