/*@@author dabarr02*/
/*@@author meriwen*/
.profile-section{
	margin-left: 20vh;
	padding-left: 2vh;
}

.product-container-normal {
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 10px;
	max-width: 600px;
	margin: auto;
}
.product-image {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}
.product-details {
	margin-top: 20px;
}
.user-info {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
}
.botonContainer {
	
}
.formBoton {
	display: flex;
	justify-content: center;
}