<h1>¡Bienvenido  a TruequeHub!</h1>
		<p>Nos alegra que estés aquí. Para encontrar lo que buscas, puedes usar nuestra barra
			de búsqueda o navegar por el <a href="/contenido/normal" class="link-mercado">mercado</a> en busca de tu nuevo objeto favorito. 
			Si eres nuevo, no dudes en registrarte para disfrutar de todas nuestras funcionalidades.</p>
		</p>