<!-- Cabecera de la página web -->
<%
function mostrarSaludo(session){
	if (session == null || ! session.login){
		return `<p>Usuario desconocido. <a href="/usuarios/login">Login</a></p>`;
	}

	return `<p>Bienvenido ${session.nombre}. <a href="/usuarios/logout">(salir)</a></p>`;
}
%>
<header>
		<h1>TruequeHub</h1>
		<div class="saludo">
			<%- mostrarSaludo(session) %>
		</div>
		<nav style = "display: flex; gap:5%;">
			<a href="/">Inicio</a>
			<a href="/">Mercado</a>
			<a href="/">Mis Productos</a>
			<a href="/">Chats</a>
			<a href="/">Pujas</a>
		</nav>

</header>