<!-- Cabecera de la página web -->
<%
function mostrarSaludo(session){
	if (session == null || ! session.login){
		return `<p>Usuario desconocido. <a href="/usuarios/login">Login</a></p>`;
	}

	return `<p>Bienvenido ${session.nombre}. <a href="/usuarios/logout">(salir)</a></p>`;
}
%><header>
		<h1>Mi gran página web</h1>
		<div class="saludo">
			<%- mostrarSaludo(session) %>
		</div>
</header>