<!-- Cabecera de la página web -->
<%
function mostrarSaludo(session){
	if (session == null || ! session.login){
		return `<p>Usuario desconocido. <a href="/usuarios/login">Login</a></p>`;
	}

	return `<p>Bienvenido ${session.nombre}. <a href="/usuarios/logout">(salir)</a></p>`;
}
function mostrarMenu(session){
	if (session == null || ! session.login){
		return `<nav style = "display: flex; gap:5%;">
		<a href="/">Inicio</a>
		<a href="/contenido/normal">Mercado</a>
		<a href="/usuarios/login">Login</a>
		<a href="/usuarios/registro">Registro</a>
	</nav>`;
	}

	return `<nav style = "display: flex; gap:5%;">
		<a href="/">Inicio</a>
		<a href="/usuarios/profile">Perfil</a>
		<a href="/contenido/normal">Mercado</a>
		<a href="/">Chats</a>
		<a href="/">Pujas</a>
		<a href="/productos/subir">Subir producto</a>
		<a href="/usuarios/baja">Darme de baja</a>
	</nav>`;
}

%>

<header>
		<h1>TruequeHub</h1>
		<div class="saludo">
			<%- mostrarSaludo(session) %>
		</div>
		<%- mostrarMenu(session) %>

</header>