<!-- Cabecera de la página web -->
<%
function mostrarSaludo(session){
	if (session == null || ! session.login){
		return `<p>Usuario desconocido.</p>`;
	}

	return `<p>Bienvenido ${session.nombre}.</p>`;
}
function mostrarMenu(session){
	if (session == null || ! session.login){
		return `<nav class="nav-container">
		<a href="/" class="nav-button-top">Inicio</a>
		<a href="/contenido/normal"class="nav-button-top">Mercado</a>
		<a href="/usuarios/login"class="nav-button-top">Login</a>
		<a href="/usuarios/registro"class="nav-button-top">Registro</a>
	</nav>`;
	}

	return `<nav class="nav-container">
		<a href="/" class="nav-button-top">Inicio</a>
		<a href="/usuarios/profile" class="nav-button-top">Perfil</a>
		<a href="/contenido/normal" class="nav-button-top">Mercado</a>
		<a href="/" class="nav-button-top">Pujas</a>
		<a href="/productos/subir" class="nav-button-top">Subir producto</a>
		<a href="/usuarios/baja" class="nav-button-top">Darme de baja</a>
		<a href="/usuarios/logout" class="nav-button-top">Logout</a>
	</nav>`;
}

%>

<header>
	
	<div class="contenido_cabecera">
		<!-- Título -->
	<h1>TruequeHub</h1>

	<div class="barra_busqueda">
		<form action="/productos/buscar" method="GET">
			<div style="display: flex; align-items: center;">
				<input type="text" name="query" placeholder="Busca un producto" required style="flex-grow: 1;">
				<button type="submit" style="margin-left: 10px;">Buscar</button>
			</div>
		</form>
	</div>

	<%- mostrarMenu(session) %>
		<div class="saludo">
			<%- mostrarSaludo(session) %>
		</div>
	</div>


</header>

