
<link rel="stylesheet" type="text/css" href="/css/barraBusc.css" />
<link rel="stylesheet" type="text/css" href="/css/cabecera.css" />
<link rel="stylesheet" type="text/css" href="/css/chats.css" />
<link rel="stylesheet" type="text/css" href="/css/compra.css" />
<link rel="stylesheet" type="text/css" href="/css/formularios.css" />
<link rel="stylesheet" type="text/css" href="/css/estilo.css" />
<link rel="stylesheet" type="text/css" href="/css/menuDesp.css" />
<link rel="stylesheet" type="text/css" href="/css/menuUser.css" />
<link rel="stylesheet" type="text/css" href="/css/mercado.css" />
<link rel="stylesheet" type="text/css" href="/css/productCard.css" />
<link rel="stylesheet" type="text/css" href="/css/ticket.css" />
<link rel="stylesheet" type="text/css" href="/css/resumenProducto.css" />
<link rel="stylesheet" type="text/css" href="/css/pie.css" />





<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>TruequeHub</title>
