<nav id="sidebarDer">
    <% if (typeof session !== 'undefined' && session !== null && session.login) { %>
        <ul>
            <li><a href="/productos/subir">Subir producto</a></li>
        </ul>
    <% } %>
</nav>