<nav id="sidebarizqprofile">
    <h2>Menú</h2>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Compras</a></li>
        <li><a href="#">Ventas</a></li>
        <li><a href="/contenido/misProductos">Mis productos</a></li>
    </ul>
</nav>