<section class="sidebarIz">
    <nav id="sidebarIzq">
        <h2>Menú</h2>

            <a class="nav-button-iz" href="/">Inicio</a>
            <a class="nav-button-iz" href="#">Compras</a>
            <a class="nav-button-iz" href="#">Ventas</a>
            <a class="nav-button-iz" href="/contenido/misProductos">Mis productos</a>
            <a class="nav-button-iz" href="/chats/misChats/<%= session.user_id %>">Mis chats</a>

    </nav>
</section>