
<section class="sidebarIz">
    <nav id="sidebarIzq">
        <h2>Menú</h2>

            <a class="nav-button-iz" href="/">Inicio</a>
            <a class="nav-button-iz" href="/envios/resumenCompras">Compras</a>
            <a class="nav-button-iz" href="/envios/resumenVentas">Ventas</a>
            <a class="nav-button-iz" href="/contenido/misProductos">Mis productos</a>
            <a class="nav-button-iz" href="/chats/misChats">Mis chats</a>
            <a class="nav-button-iz" href="/usuarios/editarPerfil">Editar perfil</a>

    </nav>
</section>

