<nav id="sidebarIzq">
    <h2>Menú</h2>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#">Compras</a></li>
        <li><a href="#">Ventas</a></li>
        <li><a href="/contenido/misProductos">Mis productos</a></li>
        <li><a href="/chats/misChats/<%= session.user_id %>">Mis chats</a></li>
    </ul>
</nav>