<h1>ERROR</h1>
<p>Ha debido ocurrir un error en el usuario o contraseña, por favor vuelva a intentarlo.</p>
<div class="login-container">
    <form action="/usuarios/login" method="POST">
        <p><label for="usuario">Nombre: </label>
        <input type="text" id="usuario" name="username" required></p>

        <p><label for="password">Contraseña: </label>
        <input type="password" id="password" name="password" required></p>

        <p><button type="submit" class="form-button">Enviar</button></p>
    </form>
</div>