
<h2>Contenido Exclusivo para Usuarios Registrados</h2>
<p>Bienvenido, <%= session.nombre %>! 🎉</p>
<p>Aquí tienes acceso a contenido exclusivo solo para usuarios registrados.</p>
<div id="mercado">
    <h2>Productos</h2>
    <ul>
        <% if (productos.length > 0) { %>
            <% productos.forEach(producto => { %>
                <li>Producto: <%= producto.nombre %> -
                    Descripcion:
                    <% if (!producto.descripcion) {%>
                        Este producto no tiene descripcion -
                    <%} else {%>
                        <%= producto.descripcion %> - 
                    }
                    Precio: <%= producto.precio %></li>
            <% }) %>
        <% } else { %>
            <li>No hay productos disponibles.</li>
        <% } %>
    </ul>
</div>